
.flex-container-postlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item-postlist {
    display: flex;
    justify-content: center;
    align-items: center;
}








