
.post-container {
    padding: 30px;
}

.post-date {
    font-size: 0.75rem;
}

.post-like-button {
    padding-bottom: 1rem;
}

.post-like-heart {
    display: grid;
    grid-template-columns: 0.05fr 0.05fr 0.05fr;
    place-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.delete-edit-post-container {
    width: 40%;
}

.post-caption-block {
    margin-top: 1rem;
    margin-bottom: 1rem;
}



